apiVersion: v1
kind: Pod
metadata:
  name: node-explorer
spec:
  nodeName: $NODE_NAME
  volumes:
  - name: host-root
    hostPath:
      path: /
  containers:
  - name: node-explorer
    image: banst/awscli
    command: ["sleep", "9999999999"]
    env:
      - name: AWS_DEFAULT_REGION
        value: $AWS_DEFAULT_REGION
      - name: AWS_SECRET_ACCESS_KEY
        value: $AWS_SECRET_ACCESS_KEY
      - name: AWS_ACCESS_KEY_ID
        value: $AWS_ACCESS_KEY_IDs
    resources: {}
    volumeMounts:
    - name: host-root
      mountPath: /host